node_modules
dist
*.log
.env
.DS_Store

# Local NATS JetStream storage
nats/data/
nats/data/jetstream/jetstream/$G/streams/
nats/data/jetstream/jetstream/$G/streams/chat_incoming/obs/worker_pool/o.dat
nats/data/jetstream/jetstream/$G/streams/chat_incoming/msgs/1.blk

# Local Arize Phoenix storage
phoenix/
nats/data/jetstream/jetstream/$G/streams/chat_response/msgs/1.blk
nats/data/jetstream/jetstream/$G/streams/chat_response/msgs/index.db
